*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 58, 99);
    
}

header{
    width: 100%;
    height: 10%;
    background-color: red;
}
header h1 {
    font-size: 4vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.numeri{
    margin-left: 60%;
    transform: translate(-50%);
    margin-top: 9vh;
    position: absolute;
    width: 40vw;
    height: 25vh;
    background-color: red;
}
.numeri h1{
    padding: 5px;
    margin-top: 5vh;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5vw;

}
.numeri h2 {
    font-size: 2vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


.menu-verticale{
width: 20%;
height: calc( 100vh - 10%);
background-color: red;
}


.BOTTONE {
width: 100%;
height: 5vh;
}


.BOTTONE button {
    width: 10vw;
    height: 5vh;
    font-size: 1vw;
    margin-left: 50%;
    transform: translate(-50%);
    outline: none;
}

.timer{
    margin-top: 1.5vh;
    border-radius: 1vw;
    width: 80%;
    height: 25vh;
    margin-left: 10%;
    background-color: red;
    box-shadow:  0px 0px 2px 2px white;
}
.timer h1 {
    font-size: 8vw;
    text-align: center;
    line-height: 25vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    

}

.risultato{
    position: absolute;
    margin-left: 60%;
    transform: translate(-50%);
    bottom: 10vh;
    width: 50vw;
    height: 30vh;
    border: 2px solid rgb(231, 209, 209);

}

.risultato h1, .risultato h2 {
    color: rgb(228, 200, 200);
    font-size: 1.2vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.risultato h3 {
    font-size: 1.3vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2vh;
    padding: 10px;
    
}
.regolamento{
    width: 80%;
    border: 1px solid white;
    margin-left: 10%;
    margin-top: 5%;
    border-radius:2% ;
}
.regolamento h5{
font-size: 1.2vw;
text-align: center;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top: 2vh;
}


.active{
    display: block;
}

.regolamento p{
    display: none;
    padding: 7px;
    font-size: 0.9vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#game{
    width: 10vw;
    height: 5vh;
    font-size: 1vw;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 2vh;
}
